{% extends "shop/base.html" %}
{% load static %}

{% block content %}

 <div id="content">
   {% for product in products %}
        	<div class="col col_14 product_gallery">
              <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width: 200px;">
              </a>
                <h3>{{ product.name }}</h3>
                <p class="product_price">{{ product.price }}</p>
                <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a>
            </div>
   {% endfor %}
  </div>


<!--  <div id="main" class="product-list">-->
<!--    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>-->
<!--    {% for product in products %}-->
<!--      <div class="item">-->
<!--        <a href="{{ product.get_absolute_url }}">-->
<!--          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">-->
<!--        </a>-->
<!--        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>-->
<!--        <br>-->
<!--        ${{ product.price }}-->
<!--      </div>-->
<!--    {% endfor %}-->

{% endblock %}